/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*---------------End Reset--------------*/





body{
	background: url(../images/bg-SF-city.jpg) center center fixed;
	background-size: cover;
	color: #2b4754;
	font-family: 'Oswald', sans-serif;
	line-height: 1.2;
}

p{
	font-weight: 200;
}

a{
	color: #2b4754;
}

a:hover{
	/*color: #0c0c6b;*/
	color: white;
}
/*-----This get's rid of typed.js cursor-----*/
.typed-cursor{
	display:none;
}
/*-----This get's rid of typed.js cursor-----*/

.nav{
	font-weight: 300;
}

h2{
	font-size: 2em;
	margin-bottom: 10px;
}

.ContactBtnTop, .ContactBtnTopMobil{
	
	
	color:rgba(255,255,255,0.90);
	text-shadow: 0px 1px 1px rgba(0,0,0,0.30);	
	border: 0;
	border-radius: 5px;
	box-shadow: 4px 8px 16px rgba(0,0,0,0.50);
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d7e55c+0,6dce06+49,d7e55c+100,7db9e8+100 */
	background: #d7e55c; /* Old browsers */
	background: -moz-linear-gradient(top,  #d7e55c 0%, #6dce06 49%, #d7e55c 100%, #7db9e8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d7e55c), color-stop(49%,#6dce06), color-stop(100%,#d7e55c), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #d7e55c 0%,#6dce06 49%,#d7e55c 100%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #d7e55c 0%,#6dce06 49%,#d7e55c 100%,#7db9e8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #d7e55c 0%,#6dce06 49%,#d7e55c 100%,#7db9e8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #d7e55c 0%,#6dce06 49%,#d7e55c 100%,#7db9e8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7e55c', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */

}
.ContactBtnTopMobil{
	width:100%;
	height:90px;
	font-size: 1.8em;
	margin-bottom: 25px;
	margin-top: -15px;
}
.ContactBtnTop{
	font-size: 1.5em;
	display:none;
	/*width: 180px;*/
	width:40%;
	height:70px;
}

.mainWrapper{
	max-width: 1040px;
	margin-right: auto;
	margin-left: auto;


}

.header{
	margin-right: -13px;
    margin-left: -13px;
	position: relative;
	/*background-color: #1e3239;*/
	box-shadow: 0px 4px 8px rgba(0,0,0,0.50);
	margin-bottom: 0px;
	/*height: 120px; For smaller header*/
	height: 145px; 
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#294f38+2,1e3239+48 */
	background: #294f38; /* Old browsers */
	background: -moz-linear-gradient(top,  #294f38 2%, #1e3239 48%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#294f38), color-stop(48%,#1e3239)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #294f38 2%,#1e3239 48%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #294f38 2%,#1e3239 48%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #294f38 2%,#1e3239 48%); /* IE10+ */
	background: linear-gradient(to bottom,  #294f38 2%,#1e3239 48%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#294f38', endColorstr='#1e3239',GradientType=0 ); /* IE6-9 */

}

.logo{
	background: url(../images/melogoFinal.png);
	background-size: cover;
	/*background-color:rgba(249,199,0,0.6);*/
	/*height: 130px;For smaller header*/
	/*width:98px;For smaller header*/
	height: 160px;
	width:121px;
	margin-top:1px;
	margin-left: 5px;
	position: absolute;

}

.navTitle{
	color:rgba(215,229,92,0.95);
	display:none;
	max-width: 300px;
	font-size: 1.5em;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.2);
	font-weight: 200;
	position: relative;
	margin-left: 160px;
	padding-top: 20px;

}

.nav > li > a {
	padding-top: 5px;

}


/*
.nav > li{
	float:none;
}
*/

.nav > li > a:hover{
	/*background-color: rgba(249,226,0,0.6);*/
	background-color: rgba(255,255,255,0.1);
	border-radius: 2px;
}


.nav{
	font-size: 1em;
	float:right;
	position:absolute;
	right: 5px;
	margin-top: 10px;
}

.overviewNav, .aboutNav, .experienceNav, .projectsNav{
	/*color:#630063;*/
	color:rgba(215,229,92,0.95);
	display: inline;
	position: absolute;
	font-size: 0.9em ;
	text-shadow: 1px 1px 5px rgba(0,0,0,0.2);
	line-height: 1;
	
}

	.aboutPage .aboutNav, 
	.overviewPage .overviewNav, 
	.experiencePage .experienceNav, 
	.projectsPage .projectsNav  {
	font-size: 1em;
	color:white;
	border: solid rgba(215,229,92,0.95) 1px;

	
	}

.aboutPage .content p,
.projectsPage .content p{
	font-family: 'Oswald', sans-serif;
	padding-bottom: 10px;
}

.aboutPage .content h3,
.projectsPage .content h3{
	text-shadow: 1px 1px 5px rgba(0,0,0,0.1);
	font-weight: 300;
	font-size: 2em;
}


.mainContent .col-xs-12{

	height:100px;
	/*background-color: yellow;*/
	box-shadow: 0px 4px 8px rgba(0,0,0,0.50);	
}
/*-------FOOTER START-------*/
footer{
	margin-top: -10px;
	margin-bottom: 15px;

}

footer .gitHub{
	margin-left: 15px;
	width: 20px;
	height:20px;
	float:right;
	margin-right: 10px;
}

.linkedIn{
	background: url(../images/linkedinLogo.png);
	background-size: cover;
	width:20px;
	height: 20px;
	float: right;

}

.myMail{
	float: left;
	margin-left: 30px;
	margin-bottom: 20px;
	font-size: 0.7em;
	margin-top: 4px;
}


/*-------FOOTER END-------*/
/*-- Overview Page--*/

.overviewPage h3{
	font-size: 1.2em;
	text-decoration: underline;
}
.infoBar h3{
	padding-bottom: 5px;
	padding-left:5px;
	padding-top: 5px;
	font-weight: 600;
}
a .site .infoBar p{
	display: none;
	color: #2b4754;
	padding-bottom: 8px;
	padding-left: 10px;
}
a .site .infoBar li{
	display:none;
	color:#2b4754;
	font-size: 0.8em;
}

.infoBar ul{
	margin-right: 10px;
}
.infoBar:first-child ul{
	margin-left: 15px;
	margin-right: 15px;
}
.two .infoBar:last-child ul{
	margin-right:0px;
}
.one{
	background: url(../images/quickDrawWide.jpg);
	background-size: cover;

}
.two{
	background: url(../images/NJFrogWide.jpg);
	background-size: cover;

}
.three{
	background: url(../images/EzKeysLogoWide.jpg) center;
	background-size: cover;

}

.infoBar{
	display: block;
	position: absolute;
	background-color: rgba(215, 229, 92, 0.95);
	height:50px;
	width: 100%;
	bottom:0px;



}

.projectsTitle{
	margin-left: 35px;
	
	font-size: 1.5em;
	
}

.aboutBox a:hover, .experienceBox a:hover, .projectsBox a:hover{
	color: #2b4754;;
	text-decoration: none;
}
/*--------Slide up stuff----------------------*/


p.aboutHide, p.experienceHide, p.projectsHide{ 
	font-size: 1em;
	margin-bottom:15px;
}

.aboutBox h5, .experienceBox h5, .projectsBox h5{
	font-size: 1.3em;
	color:white;
}
.aboutBox h5:hover, .experienceBox h5:hover, .projectsBox h5:hover{
	color:white;
	text-decoration: underline;

}
/*-- END Overview Page--*/





/*--about page content--*/
.content{
	background-color: rgba(255,255,255,0.7);

	margin-bottom: 12px;
	box-shadow: 0px 4px 8px rgba(0,0,0,0.30);
	padding:15px;
	min-height: 200px;
}

.content h3{
	font-size: 1.5em;
	margin-bottom: 15px;
	font-weight: 500;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.30);
}
.content p{


}

.aboutPic{
	
	height:100px;
	width:100px;
	box-shadow: 0px 4px 8px rgba(0,0,0,0.50);
	display:block;
	float: right;
	margin:10px;
}

.ComputerOutsidePic{
	background: url(../images/outsideComp2.JPG);
	background-size: cover;
}

.surfingPic{
	background: url(../images/surfing3.jpg);
	background-size: cover;
}

.AsGamePic{
	background: url(../images/AsGame.jpg);
	background-size: cover;
}
/*--End about page content--*/
/*-- Experience Page--*/
.experiencePage .mainContent ul{
	margin-bottom: 20px;

}

.resumeTitle{
	text-align: center;
}

.experiencePage .mainContent h2{
	margin-bottom: 0px;
	font-size: 1.2em;
	margin-top: 50px;
}


.jobInfo li:nth-child(n+2){
	float:left;
	clear: left;
}
.jobInfo li:nth-child(n+3){
	float:right;
	clear:right;
}

.jobInfo li:nth-child(3){
	margin-top: -18px;

}

.details{
	margin-top: 30px;
	margin-bottom: 50px;
	list-style-type: disc;
	padding-left: 20px;
	font-weight: 300;
}

.details li{
	margin-top: 10px;
}

/*-- End Experience Page --*/

/*--Projects page content--*/

.projectsPage h3:hover{
	color:#2b4754;
	text-decoration: underline;

}

.TechCol{
	display:block;
	margin-bottom: 70px;
}

.projectsPage h4 {
	font-size: 1.5em;
	font-weight: 300;
	margin-bottom: 10px;
	margin-top: 3px;
}
.projectsPage .mainContent ul{
	font-size: 1em;
	font-weight: 300;
	float:left;
	margin-right: 15px;
	margin-left: 15px;
	margin: bottom:20px;
}

.quickDraw, .frogpic{
	display:block;
	float: right;
	margin-left: 10px;

}
.quickDraw{
	background: url(../images/QD_logo.png);
	background-size: cover;
	width: 70px;
	height:70px;
	border-radius: 10px;
	box-shadow: 0px 4px 8px rgba(0,0,0,0.90);
	margin-bottom: 15px;
	

}


.frogpic{
	background: url(../images/NJFrogProject.jpg);
	background-size: cover;
	width:70px;
	height:56px;
	border-radius: 10px;
	box-shadow: 4px 8px 16px rgba(0,0,0,0.90);
	margin-bottom: 15px;

}

.TechCol ul.TechUsedFix{
		margin-left: -10px;
		margin-right: -20px;
	}


.ezKeysMacBook{
		background: url(../images/EzKeysmacbookSmall.png);
		background-size: cover;
		width:300px;
		height:174px;
		margin:auto;
		display:none;
		margin-top: 10	0px;
	}



.gitHub{
	background: url(../images/GitHub.png);
	background-size: cover;
	width:40px;
	height: 40px;
}



.gitHub.gitEz{
	margin-top: 10px;

}
.gitHub.gitFrog{
	margin-top: 100px;

}

/*--End Projects page content--*/
/*--Experiance page content--*/



.toolContainer{
	height:500px;
	
}

.toolPics{
	position: relative;
	background: url(../images/JustLogos.png) no-repeat;
	background-position:1px 60px;
	background-color:rgba(255, 255, 255, .2) ;
	width:60%;
	height: 467px;
	margin-top: 20px;
	box-shadow: 0px 4px 8px rgba(0,0,0,0.30);
	float:right;
	width:60%;
	margin-left: 10px;
	margin-bottom: 8px;
}

.skillTitle{
	display: block;
	margin-top: 10px;
	color:#34576e;
	font-size: 2em;
	text-align: center;
	
}

.beginner{
	display: absolute;
	margin-left:20px;
	top: 25px;
	display: inline;

}
.expert{
	float:right;
	display: inline;
	margin-right: 10px;
}

.skillmeter{
	position: relative;
	margin-top: 19px;
}


.skill{
	position: relative;
	margin-left: 55px;
	height:20px;
	width: 0px;
	background-color: rgba(215,229,92,0.95);
	margin-bottom:29px;
	border-radius: 5px;
	/*border:1px solid black;*/
	box-shadow: 0px 2px 4px rgba(0,0,0,0.90);

}



.skill1{

}
.skill2{
	
}

.skill3{

}

/*--End Experiance page content--*/


.title{
	padding-left: 10px;
	font-size: 9.0vw;
	text-shadow: 1px 1px 5px rgba(0,0,0,0.1);
	font-weight: 300;
	padding-bottom: 10px;
}
.subTitle{
	/*font-size:3.5vw;*/
	margin-top: -1px;
	padding-bottom: 20px;
	padding-left: 20px;
	font-weight: 300;
}


.col-sm-4{
	

}
.aboutBox, .experienceBox, .projectsBox{
	margin-bottom: 10px;
}
/*
.experience, .aboutMe, .projects {
	background-color: rgba(249,226,0,0);
}
*/

.aboutBox{
	background-color: ;
	
}

.experienceHide, .aboutHide, .projectsHide{
	display:none;
}

.experienceBox{
	background-color: ;
}

.projectsBox{
	background-color:;

}

.aboutBox, .experienceBox, .projectsBox{
	margin-bottom: 10px;
	/*background-color: rgba(249,226,0,0.95);*/
	background-color: rgba(215,229,92,0.95);
}

.mainContent{
	margin-bottom: 50px;
	padding-top: 40px;
}

.divide{
	height: 1px;
	width: 100%;
	background-color: black;
	margin-bottom: 20px;
}

.siteContent{
	margin-bottom: 50px;
}

.site{
	position: relative;
	background-color: black;
	height: 150px;
	box-shadow: 2px 4px 8px rgba(0,0,0,0.90)


}

.one, .two, .three{
	margin-bottom: 15px;

}
@media screen and (min-width: 370px) {
	.title{
		padding-left: 20px;
		font-size: 9.5vw;
		font-weight: 300;
	}

	.subTitle{
		font-size:4.5vw;
		padding-left: 30px;
		font-weight: 200;
	}
	.aboutPic{
		height:150px;
		width:150px;
	}

	.frogpic{
		width:90px;
		height:72px;
	}


	.reviewPic{
		background: url(../images/OnSiteReview1.jpg);
		background-size: cover;
		width: 300px;
		height:123px;
		box-shadow: 0px 4px 8px rgba(0,0,0,0.30);
	}

	.ezKeysMacBook{
		display:block;
	}

	.TechCol ul.TechUsedFix{
		margin-left: 15px;
		margin-right: 0px;
	}


}

@media screen and (min-width: 440px){
	.reviewPic{
	width: 350px;
	height:143px;
	margin-left: 10px;
	}


}

@media screen and (min-width: 484px) {
	.ContactBtnTopMobil{
		display:none;
	}

	.ContactBtnTop{
	display:block;
	float:right;
	margin-top: 30px;
	margin-right: 30%;
	
	}
	.title{	
	font-size: 3.5em;
	}
	
	.subTitle{
		font-size:1.5em;
	}

	.frogpic{
	background: url(../images/iphoneFrogsmall.png);
	background-size: cover;
	width: 166px;
	height:350px;
	border-radius: none;
	box-shadow: none;
	margin-bottom: none;
	}

	.ezKeysMacBook{
		
		width:400px;
		height:232px;

	}

	.projectsPage .content{
	min-height: 350px;
}


}

@media screen and (min-width: 530px) {
	.reviewPic{
	width: 440px;
	height:180px;
	}

	

}

@media screen and (min-width: 550px){
	a .site .infoBar p{
		display:block;
	}
	.infoBar{
		height:60px;
	}
}

@media screen and (min-width: 688px) {
	.header{
	margin-right: 0px;
    margin-left: 0px;
	}
	
	.ContactBtnTop{
	width: 180px;
	margin-top: 10px;
	margin-right:10px;
	display:block;

	
	}

	.ContactBtnTop:hover{
		border: 2px solid #294f38
	}

	.navTitle{
	display:block;
	z-index: 799;
	}
	.nav{
	float:right;
	position:absolute;
	bottom: -10px;
	right: 20px;

	}


	.nav > li {
    float: left;
	}

	.nav > li > a {
		padding-top: 20px;
	}


	.aboutPage .aboutNav, 
	.overviewPage .overviewNav, 
	.experiencePage .experienceNav, 
	.projectsPage .projectsNav  {
	font-size: 1.5em;	
	border:none;
	border-bottom: solid rgba(215,229,92,0.95) 10px;
	}

	.overviewNav, .aboutNav, .experienceNav, .projectsNav{
	font-size: 1.5em ;
	line-height: .2;
	}

	.quickDraw{
	background: url(../images/quickDraw.png);
	background-size: cover;
	width: 166px;
	height:320px;
	border-radius: none;
	box-shadow: none;
	margin-bottom: none;
	}

	.ezKeysMacBook{
		width:601px;
		height:349px;
	}

	
}

/*----------------------------------*/
/*---------START FULL SCREEN--------*/
@media screen and (min-width: 768px) {


/*this is not done need to fix header*/
.navContain{
	position:fixed;
	z-index:700;
	left:0;
}




/*
.title{
	padding-left: 20px;
	font-size: 3.5em;
	text-shadow: 1px 1px 5px rgba(0,0,0,0.1);
	font-weight: 300;
}
.subTitle{
	font-size:1.5em;
	margin-top: -1px;
	padding-bottom: 20px;
	padding-left: 30px;
	font-weight: 200;
}
*/
.mainContent{
	padding-top: 180px;
}


.header{
	position: relative;
	height: 145px;

}

.logo{
	
	height: 160px;
	width:121px;
	

}


.overviewPage ul{
	float:left;

}

.nav li{
	float: left;

}

a{

}



/*
.experienceNav{
	color:#630063;
	display:inline;
	position: absolute;
	
}

.projectsNav{
	color:red;
	display: inline;
	position: absolute;
	
}
*/
/*^^^^^^this is not done need to fix header*/

	.col-xs-12.aboutBox{
    	background: url(../images/mePacifica.jpg);
    	background-size: cover;
    }

    .col-xs-12.experienceBox{
    	background: url(../images/officespaceSm.jpg);
    	background-size:cover;

    }
    .col-xs-12.projectsBox{
    	background: url(../images/scafold3.jpg);
    	background-size: cover;
    	
    }

    .col-xs-12.aboutBox,.col-xs-12.experienceBox,.col-xs-12.projectsBox {
    	
        height:456px;
        width:32%;	
    	margin-right: 1.33333%;
    	box-shadow: 0px 4px 8px rgba(0,0,0,0.50);
        
    }
   


    .aboutMe:hover{

    }
    
    .experience, .aboutMe, .projects {
    	color:black;
    	position: absolute;
    	margin-bottom: 0px;
    	background-color: rgba(215,229,92,0.95);
    	margin-left: -15px;
    	width: 100%;
    	height: 100px;
    	bottom: 0px;
    	padding-left: 10px;
    }


    .site{
    	  margin-right: 1.33333%
    }

    .two{
	background: url(../images/NJFrogLogoFullScreen.jpg);
	background-size: cover;

	}

	.three{
	background: url(../images/EzKeysFullScreen.jpg);
	background-size: cover;

	}


	.infoBar{
		display:block;
		background-color: rgba(215, 229, 92, 0.95);
		width:100%;
		height:100%;
	}
	.infoBar{
		display:none;
	}
	a .site .infoBar li{
		display:block;
	}

	


}






















