body{
	background: url(../images/bg-SF-city.jpg);
	background-size: cover;

}




.mainWrapper{
	max-width: 1040px;
	margin-right: auto;
	margin-left: auto;


}

.header{
	background-color: white;
	box-shadow: 0px 4px 8px rgba(0,0,0,0.50);
	margin-bottom: 50px;
	height: 120px;
	
}

.nav{
	font-size: 1em;
	float:right;

}



.col-xs-12{

	height:100px;
	background-color: yellow;
	box-shadow: 0px 4px 8px rgba(0,0,0,0.50);

	
}



.col-sm-4{
	

}
.red, .green, .blue{
	margin-bottom: 10px;
}

.red{
	background-color: red;
	
}

.hideMe{
	display:none;
}

.green{
	background-color: green;
}

.blue{
	background-color: blue;

}

.red, .green, .blue{
	margin-bottom: 10px;
	background-color: rgba(249,199,0,0.95);
}

@media screen and (min-width: 768px) {


/*this is not done need to fix header*/
.header{
	position: relative;
}
.nav{
	position: absolute;
	bottom: 3px;
	display: block;
}

.about{
	color:red;
	display: inline;
	position: absolute;
	

}

.experience{
	color:red;
	display:inline;
	position: absolute;
	
}

.projects{
	color:red;
	display: inline;
	position: absolute;
	
}
/*^^^^^^this is not done need to fix header*/



    .col-xs-12{
    	background: url(../images/test123.jpg);
		background-size: cover;
        height:456px;
        width:32%;	
    	margin-right: 1.33333%;
    	box-shadow: 0px 4px 8px rgba(0,0,0,0.50);
        
    }

    .aboutMe:hover{

    }

    .aboutMe{
    	color:black;
    	position: absolute;
    	margin-bottom: 0px;
    	background-color: rgba(249,199,0,0.6);
    	margin-left: -15px;
    	width: 100%;
    	height: 100px;
    	bottom: 0px;
    }


    .aboutMe:hover{
        height: 100%;
        background-color:;
        transition: background-color 0.5s ease;


    }
}