body{
	background: url(../images/bg-SF-city.jpg);
	background-size: cover;

}





.mainWrapper{
	max-width: 1040px;
	margin-right: auto;
	margin-left: auto;


}

.header{
	background-color: white;
	box-shadow: 0px 4px 8px rgba(0,0,0,0.50);
	margin-bottom: 50px;
	height: 120px;
	
}

.logo{
	background: url(../images/meLogo2.png);
	background-size: cover;
	/*background-color:rgba(249,199,0,0.6);*/
	height: 130px;
	width:97px;
	margin-top:1px;
	margin-left: 5px;
	position: absolute;

}

.navTitle{
	font-size: 1.5em;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	font-weight: 200;
	position: relative;
	margin-left: 160px;
	padding-top: 20px;
}

.nav{
	font-size: 1em;
	float:right;


}



.mainContent .col-xs-12{

	height:100px;
	/*background-color: yellow;*/
	box-shadow: 0px 4px 8px rgba(0,0,0,0.50);

	
}

.title{
	padding-left: 20px;
	font-size: 3.5em;
	text-shadow: 1px 1px 5px rgba(0,0,0,0.1);
	font-weight: 300;
}
.subTitle{
	font-size:1.5em;
	margin-top: -1px;
	padding-bottom: 20px;
	padding-left: 30px;
	font-weight: 200;
}



.col-sm-4{
	

}
.aboutBox, .experienceBox, .projectsBox{
	margin-bottom: 10px;
}

.aboutBox{
	background-color: ;
	
}

.experienceHide, .aboutHide, .projectsHide{
	display:none;
}

.experienceBox{
	background-color: ;
}

.projectsBox{
	background-color:;

}

.aboutBox, .experienceBox, .projectsBox{
	margin-bottom: 10px;
	background-color: rgba(249,199,0,0.95);
}

.mainContent{
	margin-bottom: 100px;
}

.divide{
	height: 1px;
	width: 100%;
	background-color: black;
	margin-bottom: 50px;
}

.siteContent{
	margin-bottom: 50px;
}

.site{
	background-color: black;
	height: 150px;

}

.one, .two, .three{
	margin-bottom: 15px;

}


/*----------------------------------*/
/*---------START FULL SCREEN--------*/
@media screen and (min-width: 768px) {


/*this is not done need to fix header*/
.navContain{
	position:fixed;
	z-index:700;
	left:0;

}

.title{
	padding-left: 20px;
	font-size: 3.5em;
	text-shadow: 1px 1px 5px rgba(0,0,0,0.1);
	font-weight: 300;
}
.subTitle{
	font-size:1.5em;
	margin-top: -1px;
	padding-bottom: 20px;
	padding-left: 30px;
	font-weight: 200;
}

.mainContent{
	padding-top: 160px;
}


.header{
	position: relative;
	height: 145px;
}

.logo{
	
	height: 160px;
	width:119px;
	

}


.nav{
	position:absolute;
	bottom: 3px;
	right: 20px;

}


ul{
	float:left;

}

li{
	float: left;

}

a{

}

.aboutNav{
	color:red;
	display: inline;
	position: absolute;
	

}

.experienceNav{
	color:red;
	display:inline;
	position: absolute;
	
}

.projectsNav{
	color:red;
	display: inline;
	position: absolute;
	
}
/*^^^^^^this is not done need to fix header*/

	.col-xs-12.aboutBox{
    	background: url(../images/mePacifica.jpg);
    }

    .col-xs-12.experienceBox{
    	background: url(../images/logos2.jpg);

    }
    .col-xs-12.projectsBox{
    	background: url(../images/scafold3.jpg);
    }

    .col-xs-12.aboutBox,.col-xs-12.experienceBox,.col-xs-12.projectsBox {
    	
		background-size: cover;
        height:456px;
        width:32%;	
    	margin-right: 1.33333%;
    	box-shadow: 0px 4px 8px rgba(0,0,0,0.50);
        
    }



    .aboutMe:hover{

    }
    
    .experience, .aboutMe, .projects {
    	color:black;
    	position: absolute;
    	margin-bottom: 0px;
    	background-color: rgba(249,199,0,0.6);
    	margin-left: -15px;
    	width: 100%;
    	height: 100px;
    	bottom: 0px;
    }

    .site{
    	  margin-right: 1.33333%
    }
	


}